{% extends 'base.html' %}
{% load static %}
    {% block title %}Covid Tracker - Homepage{% endblock title %}

    {% block css %}
        body{
            overflow-x: hidden;
        }

        .footer-copyright{
            color: whitesmoke;
        }

        .footer a{
            text-decoration: none;
            color: whitesmoke !important;
        }

        .mt-10{
            margin-top:10rem;
        }

        .mb-10{
            margin-bottom:10rem;
        }
        
        .text-center{
            font-weight:300;
        }

    {% endblock css %}


    {% block body %}
    <div class="alert alert-danger" role="alert">
        <marquee behavior="" direction="">
            COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.
        </marquee>
    </div>
    <section class="">
        <div class="img-div d-flex justify-content-center">
            <img src="{% static '/logo.png' %}" class="img-fluid mx-auto" alt="...">
        </div>
        <div class="container-fluid my-4 d-flex flex-wrap justify-content-center" >
            <div class="card mb-4 mx-2 border-danger"  style="width: 18rem;">
                <div class="card-header text-danger">
                New Cases Globally
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item text-danger">{{globalData.NewConfirmed}}</li>
                </ul>
            </div>
                    
            <!-- Total Global Comfirmed section -->
            <div class="card mb-4 mx-2 border-danger"  style="width: 18rem;">
                <div class="card-header text-danger">
                Total Global Cases
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item text-danger">{{globalData.TotalConfirmed}}</li>
                </ul>
            </div>
                    
            <!--New Global Deaths section -->
            <div class="card mb-4 mx-2 border-warning"  style="width: 18rem;">
                <div class="card-header text-warning">
                New Global Deaths
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item text-warning">{{globalData.NewDeaths}}</li>
                </ul>
            </div>
            
            <!-- Total Global Deaths section -->
            <div class="card mb-4 mx-2 border-warning"  style="width: 18rem;">
                <div class="card-header text-warning">
                Total Global Deaths
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item text-warning">{{globalData.TotalDeaths}}</li>
                </ul>
            </div>

            <!-- New recovered section -->
            <div class="card mb-4 mx-2 border-success"  style="width: 18rem;">
                <div class="card-header text-success">
                Newly Recovered Globally
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item text-success">{{globalData.NewRecovered}}</li>
                </ul>
            </div>

            <!-- total recovered section -->
            <div class="card mb-4 mx-2 border-success"  style="width: 18rem;">
                <div class="card-header text-success">
                Total Global Recovery
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item text-success">{{globalData.TotalRecovered}}</li>
                </ul>
            </div>
        </div>
    </section>

    <section class=" mb-10">
        <center class="mt-10"><h2>Most common symptoms:</h2></center>
        <h5 class="text-center font-weight-light">Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.</h5>
        <div class="commom-symptons d-flex flex-wrap justify-content-center">
            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/most/fever.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Fever</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/most/cough.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Dry Cough</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/most/tired.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Tiredness</p>
                </div>
            </div>

        </div>
    </section>

    <section class="mb-10">
        <center class="mt-10"><h2>Less common symptoms:</h2></center>
        <h5 class="text-center font-weight-light">People with mild symptoms who are otherwise healthy should manage their symptoms at home</h5>
        <div class="commom-symptons d-flex flex-wrap justify-content-center">
            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/less/ache.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Aches and Pains</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/less/sore.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Sore Throat</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/less/diarrhoea.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Diarrhoea</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/less/conjuctivitis.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Conjunctivitis</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/less/headache.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Headache</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/less/noTaste.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Loss of Taste or Smell</p>
                </div>
            </div>

        </div>
    </section>

    <section class="mb-10">
        <center class="mt-10"><h2> Serious symptoms:</h2></center>
        <h5 class="text-center font-weight-light">On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.</h5>
        <div class="commom-symptons d-flex flex-wrap justify-content-center">
            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/serious/bdifficulty.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Difficulty Breathing or Shortness of Breath</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/serious/chest.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Chest Pain or Pressure</p>
                </div>
            </div>

            <div class="card m-4" style="width: 18rem;">
                <img src="{% static '/serious/speech.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text text-center">Loss of Speech or Movement</p>
                </div>
            </div>

        </div>
    </section>

{% endblock body %}



{% block js %}
 
{% endblock js %}
