{% extends 'base.html' %}
{% load mathfilters %}
{% block body %}

 <div class="container">
            <div class="searchField col-12 d-flex justify-content-center" >
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Countries..">
            </div>        

            <div class="table-responsive">
              <table class="table table-striped table-hover " id="myTable">
                  <thead>
                    <tr>
                      <th scope="col">Sr No.</th>
                      <th scope="col">Hospital Name</th>
                      <th scope="col">Vacant Beds</th>
                      <th scope="col">Mobile Number</th>
                      <th scope="col">Last Updated At</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for i in hospital %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{hospital.i}}</td>
                        <td>{{i}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>




{% endblock body %}